<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Arthur Perez</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="{{ page.path | replace: '.html', '.css' }}">
    <script src="static/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
</head>

<body>
    <header>
        <div class="title">
            <button class="hamburger">
                <i class="fas fa-bars"></i>
                <i class="fas fa-times"></i>
            </button>
            <h1>Arthur Perez</h1>
        </div>
        <p>Étudiant en BTS SIO - Spécialité SISR</p>

        <nav>
            <ul>
                <li><a href="index.html" class="nav-btn active"><i class="fas fa-laptop-code"></i> Projets</a></li>
                <li><a href="competences.html" class="nav-btn"><i class="fas fa-tasks"></i> Compétences</a></li>
                <li><a href="veilletechnologique.html" class="nav-btn"><i class="fas fa-newspaper"></i> Veille</a></li>
                <li><a href="contact.html" class="nav-btn"><i class="fas fa-envelope"></i> Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{ content }}
    </main>
</body>

</html>